In [40]:
import pandas as pd
import numpy as np
import csv

In [41]:
#load cleaned dataframe containing trees from Seattle
df = pd.read_pickle("df_trees.pkl")

In [42]:
df.head(1)

,UNITID,UNITDESC,PRIMARYDISTRICTCD,BOTANICAL_NAME,SCIENTIFIC_NAME,GROWSPACE,DIAM,CONDITION_RATING,COMMON_NAME,SHAPE_LAT,SHAPE_LNG,TOTAL_RANK,TOTAL_COUNT,GENUS,PATH
0,TRE-48779,1233 39TH AV E ...,DISTRICT3,HAWENG,Crataegus laevigata,8,7,5,English Midland Hawthorn,47.630875,-122.282937,4.0,7206.0,Crataegus,/Users/alexanderbell/desktop/seattle_trees/TRE...

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13825 entries, 0 to 13999
Data columns (total 15 columns):
UNITID               13825 non-null object
UNITDESC             13825 non-null object
PRIMARYDISTRICTCD    13825 non-null object
BOTANICAL_NAME       13825 non-null object
SCIENTIFIC_NAME      13825 non-null object
GROWSPACE            13825 non-null int64
DIAM                 13825 non-null int64
CONDITION_RATING     13825 non-null int64
COMMON_NAME          13825 non-null object
SHAPE_LAT            13825 non-null float64
SHAPE_LNG            13825 non-null float64
TOTAL_RANK           13825 non-null float64
TOTAL_COUNT          13825 non-null float64
GENUS                13825 non-null object
PATH                 13825 non-null object
dtypes: float64(4), int64(3), object(8)
memory usage: 1.7+ MB

In [23]:
#This code draws images running along a street in Google street view
#Need to submit lat-lon and orientation 

import google_streetview.api
import json
import urllib.request
import urllib.parse
import os
import math

#key is a global for use in the functions
key = "&key=" + "your api key here"

#set the path to download the images into
DownLoc = r'your filepath here'


def MetaParse(MetaUrl):
    response = urllib.request.urlopen(MetaUrl)
    jsonRaw = response.read()
    jsonData = json.loads(jsonRaw.decode('utf-8'))
    #return jsonData
    if jsonData['status'] == "OK":
        if 'date' in jsonData:
            return (jsonData['date'],jsonData['pano_id']) #sometimes it does not have a date!
        else:
            return (None,jsonData['pano_id'])
    else:
        return (None,None)

PrevImage = [] #Global list that has previous images sampled
def GetStreetLL(Lat,Lon,Head,File,SaveLoc):
    base = r"https://maps.googleapis.com/maps/api/streetview"
    size = r"?size=1200x800&fov=60&pitch=10&source=outdoor&location="
    end = str(Lat) + "," + str(Lon) + "&heading=" + str(Head) + key
    MyUrl = base + size + end
    fi = File + ".jpg"
    MetaUrl = base + r"/metadata" + size + end
    #print MyUrl, MetaUrl #can check out image in browser to adjust size, fov to needs
    met_lis = list(MetaParse(MetaUrl))                           #does not grab image if no date
    if (met_lis[1],Head) not in PrevImage and met_lis[0] is not None:   #PrevImage is global list
        urllib.request.urlretrieve(MyUrl, os.path.join(SaveLoc,fi))
        met_lis.append(fi)
        PrevImage.append((met_lis[1],Head)) #append new Pano ID to list of images
    else:
        met_lis.append(None)
    return met_lis

In [9]:
tree_list = df[['UNITID','SHAPE_LAT','SHAPE_LNG']].apply(tuple, axis=1).tolist()

In [26]:
#Make an example list of tuples of lat,lon's and orientation
#Pointed toward the sidewalk precise lat/lon


image_list = [] #to stuff the resulting meta-data for images

for i in tree_list:
    fi = i[0]
    temp = GetStreetLL(Lat=i[1],Lon=i[2],Head=None,File=fi,SaveLoc=DownLoc)
    if temp[2] is not None:
        image_list.append(temp)

In [36]:
df['GENUS'].value_counts()

Prunus            3450
Acer              2481
Crataegus         1065
Malus              729
Betula             502
Liquidambar        472
Quercus            440
Tilia              413
Cornus             341
Pyrus              339
Platanus           301
Fraxinus           290
Thuja              196
Gleditsia          188
Carpinus           171
Styrax             168
Magnolia           162
Amelanchier        150
Sorbus             144
Aesculus           139
Pseudotsuga        131
Pinus              126
Cercidiphyllum     123
Zelkova            117
Cercis             100
Ulmus               81
Fagus               79
Chamaecyparis       75
Ginkgo              63
Ilex                59
                  ...
Nyssa               10
Juniperus            7
Sequoia              4
Ailanthus            4
Phellodendron        4
Ficus                4
Davidia              3
Metasequoia          3
Sophora              3
Elaeagnus            3
Cotinus              3
Trachycarpus         3
Eucalyptus           3
Lagerstroemia        2
Morus                2
Laurus               2
Rhododendron         2
Umbellularia         2
Oxydendrum           2
Nothofagus           2
Clerodendrum         2
Araucaria            1
Ligustrum            1
Sequoiadendron       1
Mespilus             1
Hibiscus             1
Pseudocydonia        1
Cryptomeria          1
Larix                1
Olea                 1
Name: GENUS, Length: 84, dtype: int64

In [37]:
df['COMMON_NAME'].value_counts()

English Midland Hawthorn          698
Blireiana Purpleleaf Plum         551
Cherry (Flowering) Plum, Myrob    529
Kwanzan Flowering Cherry          529
Red Maple                         515
Norway Maple                      509
Sweetgum                          471
Thundercloud Purpleleaf Plum      439
Apple/Crabapple                   382
(European) White Birch            356
Double Chinese Cherry             285
London Plane (Tree)               283
(Smooth) Japanese Maple           241
Red Oak                           216
Littleleaf Linden                 192
Callery Pear                      169
Common Hawthorn                   163
Autumn Flowering Cherry           158
Western Red Cedar                 154
Honey Locust                      145
Japanese Snowbell Tree            142
Red Sunset Red Maple              138
Common (Euro) Mountain Ash        131
Douglas Fir                       131
Orchard (Common) Apple            125
Horse Chestnut                    124
Kousa Dogwood                     122
Katsura Tree                      114
Pacific Sunset Maple              112
European Hornbeam                 111
                                 ...
Beni Fuji Dogwood                   1
Worplesdon Sweetgum                 1
White Poplar                        1
Newton Sentry Sugar Maple           1
Giant Sequoia                       1
Willowleaf Pear                     1
European White Elm                  1
European Larch                      1
Hibiscus                            1
Sitka Spruce                        1
Holly                               1
Willow                              1
Chimaeric Goldenchain               1
Purple Crabapple                    1
Eastern Redcedar                    1
American Chestnut                   1
Spire Cherry                        1
Beaked Stewartia                    1
Pissard Purpleleaf Plum             1
Wych Elm                            1
European fruiting olive             1
Caucasian Ash                       1
Tatarian Maple                      1
Double Horse Chestnut               1
Almond Tree                         1
Black Hawthorn                      1
Japanese Cedar                      1
Bristlecone Pine                    1
Goat (French Pink Pussy) Willo      1
Chokecherry                         1
Name: COMMON_NAME, Length: 401, dtype: int64