In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
pd.set_option('max_colwidth', 200)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
df = pd.read_csv('Seattle_Trees.csv')

In [4]:
df = df.dropna()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13825 entries, 0 to 13999
Data columns (total 14 columns):
UNITID               13825 non-null object
UNITDESC             13825 non-null object
PRIMARYDISTRICTCD    13825 non-null object
BOTANICAL_NAME       13825 non-null object
SCIENTIFIC_NAME      13825 non-null object
GROWSPACE            13825 non-null int64
DIAM                 13825 non-null int64
CONDITION_RATING     13825 non-null int64
COMMON_NAME          13825 non-null object
SHAPE_LAT            13825 non-null float64
SHAPE_LNG            13825 non-null float64
TOTAL_RANK           13825 non-null float64
TOTAL_COUNT          13825 non-null float64
GENUS                13825 non-null object
dtypes: float64(4), int64(3), object(7)
memory usage: 1.6+ MB

In [6]:
df.head()

      UNITID                                                                                                                                                                                                 UNITDESC PRIMARYDISTRICTCD BOTANICAL_NAME              SCIENTIFIC_NAME  GROWSPACE  DIAM  CONDITION_RATING               COMMON_NAME  SHAPE_LAT   SHAPE_LNG  TOTAL_RANK  TOTAL_COUNT        GENUS
0  TRE-48779  1233 39TH AV E                                                                                                                                                                                      ...         DISTRICT3         HAWENG          Crataegus laevigata          8     7                 5  English Midland Hawthorn  47.630875 -122.282937         4.0       7206.0    Crataegus
1  TRE-77899  4200 AIRPORT WY S                                                                                                                                                                                   ...         DISTRICT2         LINLIT                Tilia cordata          5    18                 3         Littleleaf Linden  47.564708 -122.322632         8.0       4266.0        Tilia
2  TRE-80154  6010 FAUNTLEROY WY SW                                                                                                                                                                               ...         DISTRICT1         SWETGM      Liquidambar styraciflua          3     4                 4                  Sweetgum  47.547970 -122.382973        11.0       3388.0  Liquidambar
3  TRE-32174  2258 GILMAN DR W                                                                                                                                                                                    ...         DISTRICT7         LOCBLK         Robinia pseudoacacia         35    10                 5              Black Locust  47.639805 -122.373793        35.0        654.0      Robinia
4  TRE-95011  5043 16 AV NE                                                                                                                                                                                       ...         DISTRICT4         DOGKOC  Cornus kousa var. chinensis          6     5                 4     Chinese Kousa Dogwood  47.666109 -122.310856         7.0       4854.0       Cornus

In [7]:
df['PATH'] = df['UNITID']+'.jpg'

In [8]:
df['PATH'] = '/Users/alexanderbell/desktop/seattle_trees/'+ df['PATH']

In [9]:
df['GENUS'].loc[df['GENUS'] == 'x'] = 'Cupressus'
df['GENUS'].loc[df['GENUS'] == '+'] = 'Laburnum'

/Users/alexanderbell/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [10]:
df.sample(1)

         UNITID                                                                                                                                                                                                 UNITDESC PRIMARYDISTRICTCD BOTANICAL_NAME      SCIENTIFIC_NAME  GROWSPACE  DIAM  CONDITION_RATING               COMMON_NAME  SHAPE_LAT   SHAPE_LNG  TOTAL_RANK  TOTAL_COUNT      GENUS                                                      PATH
4916  TRE-62934  819 NE 67TH ST                                                                                                                                                                                      ...         DISTRICT4         HAWENG  Crataegus laevigata          9    11                 3  English Midland Hawthorn  47.677258 -122.319301         4.0       7206.0  Crataegus  /Users/alexanderbell/desktop/seattle_trees/TRE-62934.jpg

In [11]:
df.to_pickle("df_trees.pkl")

In [12]:
df_test = pd.read_pickle("df_trees.pkl")

In [ ]:
import google_streetview.api

In [ ]:
#This code draws images running along a street in Google street view
#Need to submit lat-lon and orientation (can calculate those in a GIS from street centerline files)
#For grabbing sidewalk, found that 40 feet between photos was a good distance to prevent repeats

import json
import urllib.request
import urllib.parse
import os
import math
#see https://andrewpwheeler.wordpress.com/2015/12/28/using-python-to-grab-google-street-view-imagery/
#key is a global for use in the functions
key = "&key=" + "AIzaSyCX-a5LQ3MRCC7UCGHAGy7ntBkAdpudcrs"
DownLoc = r'/Users/alexanderbell/desktop/seattle_trees'


#set the path that you want to download the images into

def MetaParse(MetaUrl):
    response = urllib.request.urlopen(MetaUrl)
    jsonRaw = response.read()
    jsonData = json.loads(jsonRaw.decode('utf-8'))
    #return jsonData
    if jsonData['status'] == "OK":
        if 'date' in jsonData:
            return (jsonData['date'],jsonData['pano_id']) #sometimes it does not have a date!
        else:
            return (None,jsonData['pano_id'])
    else:
        return (None,None)

PrevImage = [] #Global list that has previous images sampled, memoization kindof

def GetStreetLL(Lat,Lon,Head,File,SaveLoc):
    base = r"https://maps.googleapis.com/maps/api/streetview"
    size = r"?size=1200x800&fov=60&location="
    end = str(Lat) + "," + str(Lon) + "&heading=" + str(Head) + key
    MyUrl = base + size + end
    fi = File + ".jpg"
    MetaUrl = base + r"/metadata" + size + end
    #print MyUrl, MetaUrl #can check out image in browser to adjust size, fov to needs
    met_lis = list(MetaParse(MetaUrl))                           #does not grab image if no date
    if (met_lis[1],Head) not in PrevImage and met_lis[0] is not None:   #PrevImage is global list
        urllib.request.urlretrieve(MyUrl, os.path.join(SaveLoc,fi))
        met_lis.append(fi)
        PrevImage.append((met_lis[1],Head)) #append new Pano ID to list of images
    else:
        met_lis.append(None)
    return met_lis

In [ ]:
tree_list = df[['UNITID','SHAPE_LAT','SHAPE_LNG']].apply(tuple, axis=1).tolist()

In [ ]:
#Make an example list of tuples of lat,lon's and orientation
#Pointed toward the sidewalk - plus or minus 90 degrees to face forward/backward on street


image_list = [] #to stuff the resulting meta-data for images

for i in tree_list:
    fi = i[0]
    temp = GetStreetLL(Lat=i[1],Lon=i[2],Head=None,File=fi,SaveLoc=DownLoc)
    if temp[2] is not None:
        image_list.append(temp)

#print(image_list)

#If you want to see what example images might look like
#See https://photos.app.goo.gl/ip9qPZJ0DZMnERus2

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
%matplotlib inline

In [ ]:
df_hot = df

In [ ]:
df_hot.head()

In [ ]:
df_hot = pd.get_dummies(df_hot, columns=['GENUS'])

In [ ]:
df_hot_test = df_hot.head(200)

In [ ]:
from keras.models import Sequential
from keras.preprocessing.image import ImageDataGenerator
from keras.layers import Dense, Activation, Flatten, Dropout, BatchNormalization
from keras.layers import Conv2D, MaxPooling2D
from keras import regularizers, optimizers

In [ ]:
datagen=ImageDataGenerator(rescale=1./255.,validation_split=0.2)

In [ ]:
train_generator=datagen.flow_from_dataframe(
dataframe=df,
directory='/Users/alexanderbell/desktop/seattle_trees/',
x_col="UNITID",
y_col="GENUS",
has_ext=False, 
subset="training",
batch_size=256,
seed=42,
shuffle=True,
class_mode="categorical",
target_size=(224,224))

In [ ]:
valid_generator=datagen.flow_from_dataframe(
dataframe=df,
directory='/Users/alexanderbell/desktop/seattle_trees/',
x_col="UNITID",
y_col="GENUS",
has_ext=False, 
subset="validation",
batch_size=256,
seed=42,
shuffle=True,
class_mode="categorical",
target_size=(224,224))

In [ ]:
test_datagen=ImageDataGenerator(rescale=1./255.)

In [ ]:
test_generator=test_datagen.flow_from_dataframe(
dataframe=df,
directory="/Users/alexanderbell/desktop/seattle_trees/",
x_col="UNITID",
y_col=None,
has_ext=False,
batch_size=1,
seed=42,
shuffle=False,
class_mode=None,
target_size=(224,224))

In [ ]:
### Modified

from keras.applications.vgg16 import VGG16
from keras.preprocessing import image
from keras.applications.vgg16 import preprocess_input
from keras.layers import Input, Flatten, Dense
from keras.models import Model
from keras.optimizers import SGD

import numpy as np

#Get back the convolutional part of a VGG network trained on ImageNet
model_vgg16 = VGG16(weights='imagenet', include_top=False, )
model_vgg16.summary()

#Create your own input format (here 224x224x3)
input = Input(shape=(224,224,3),name = 'image_input')

# makes the layers non-trainable
for layer in model_vgg16.layers:
    layer.trainable=False
    
#Use the generated model 
output_vgg16 = model_vgg16(input)
    
#Add the fully-connected layers 
x = Flatten(name='flatten')(output_vgg16)
# x = Dense(4096, activation='relu', name='fc1')(x)
# x = Dense(4096, activation='relu', name='fc2')(x)
x = Dense(84, activation='softmax', name='predictions')(x) # here the 2 indicates binary (3 or more is multiclass)

#Create your own model 
my_model = Model(input=input, output=x)

#In the summary, weights and layers from VGG part will be hidden, but they will be fit during the training
my_model.summary()

In [ ]:
my_model.compile(optimizer='adam',#SGD(lr=0.01, momentum=0.9),
     loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
STEP_SIZE_TRAIN=train_generator.n//train_generator.batch_size
STEP_SIZE_VALID=valid_generator.n//valid_generator.batch_size
my_model.fit_generator(generator=train_generator,
                    steps_per_epoch=STEP_SIZE_TRAIN,
                    validation_data=valid_generator,
                    validation_steps=STEP_SIZE_VALID,
                    epochs=1)

In [ ]:
my_model.evaluate_generator(generator=valid_generator,steps=len(valid_generator))

In [ ]:
from PIL import ImageFile
ImageFile.LOAD_TRUNCATED_IMAGES = True

In [ ]:
test_generator.reset()
predictions=my_model.predict_generator(test_generator,verbose=1,steps=1026)

In [ ]:
predictions.shape

In [ ]:
predicted_class_indices=np.argmax(predictions,axis=1)

In [ ]:
len(predicted_class_indices)

In [ ]:
predicted_class_indices

In [ ]:
labels = (train_generator.class_indices)
labels = dict((v,k) for k,v in labels.items())
predictions = [labels[k] for k in predicted_class_indices]

In [ ]:
filenames=test_generator.filenames
results=pd.DataFrame({"Filename":filenames,
                      "Predictions":predictions,
                     "UNITID":df})

In [ ]:
results.head(20)

In [ ]:
compare = pd.merge(df, results, how = 'left', left_on = 'Filename', right_on = 'UNITID')

In [ ]:
simple_df.sample()

In [ ]:
simple_df = simple_df.rename(columns={'UNITID': 'Filename'})

In [ ]:
results['Predictions'].value_counts(1)

In [ ]:
df['GENUS'].value_counts()

In [ ]:
labels.values()

In [ ]:
confusion_mtx = (valid_generator.classes,predicted_class_indices)
plot_confusion_matrix(confusion_mtx, classes = list(labels.values()))

In [ ]:
def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    plt.figure(figsize = (5,5))
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=90)
    plt.yticks(tick_marks, classes)
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]

    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, cm[i, j],
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

def plot_learning_curve(history):
    plt.figure(figsize=(8,8))
    plt.subplot(1,2,1)
    plt.plot(history.history['acc'])
    plt.plot(history.history['val_acc'])
    plt.title('model accuracy')
    plt.ylabel('accuracy')
    plt.xlabel('epoch')
    plt.legend(['train', 'test'], loc='upper left')
    plt.savefig('./accuracy_curve.png')
    plt.subplot(1,2,2)
    plt.plot(history.history['loss'])
    plt.plot(history.history['val_loss'])
    plt.title('model loss')
    plt.ylabel('loss')
    plt.xlabel('epoch')
    plt.legend(['train', 'test'], loc='upper left')
    plt.savefig('./loss_curve.png')

In [13]:
tempdf = pd.read_pickle("df_outdoor_trees.pkl")

In [14]:
tempdf.head()

      UNITID                                                                                                                                                                                                 UNITDESC PRIMARYDISTRICTCD BOTANICAL_NAME              SCIENTIFIC_NAME  GROWSPACE  DIAM  CONDITION_RATING               COMMON_NAME  SHAPE_LAT   SHAPE_LNG  TOTAL_RANK  TOTAL_COUNT        GENUS                                                      PATH
0  TRE-48779  1233 39TH AV E                                                                                                                                                                                      ...         DISTRICT3         HAWENG          Crataegus laevigata          8     7                 5  English Midland Hawthorn  47.630875 -122.282937         4.0       7206.0    Crataegus  /Users/alexanderbell/desktop/outdoor_trees/TRE-48779.jpg
1  TRE-77899  4200 AIRPORT WY S                                                                                                                                                                                   ...         DISTRICT2         LINLIT                Tilia cordata          5    18                 3         Littleleaf Linden  47.564708 -122.322632         8.0       4266.0        Tilia  /Users/alexanderbell/desktop/outdoor_trees/TRE-77899.jpg
2  TRE-80154  6010 FAUNTLEROY WY SW                                                                                                                                                                               ...         DISTRICT1         SWETGM      Liquidambar styraciflua          3     4                 4                  Sweetgum  47.547970 -122.382973        11.0       3388.0  Liquidambar  /Users/alexanderbell/desktop/outdoor_trees/TRE-80154.jpg
3  TRE-32174  2258 GILMAN DR W                                                                                                                                                                                    ...         DISTRICT7         LOCBLK         Robinia pseudoacacia         35    10                 5              Black Locust  47.639805 -122.373793        35.0        654.0      Robinia  /Users/alexanderbell/desktop/outdoor_trees/TRE-32174.jpg
4  TRE-95011  5043 16 AV NE                                                                                                                                                                                       ...         DISTRICT4         DOGKOC  Cornus kousa var. chinensis          6     5                 4     Chinese Kousa Dogwood  47.666109 -122.310856         7.0       4854.0       Cornus  /Users/alexanderbell/desktop/outdoor_trees/TRE-95011.jpg